@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Cereal Reviews</h1>
    <p>Welcome to Cereal Reviews, where we eat cereal and give it a score 1-10.  Feel Free to Check the scores out for yourself.</p>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Brands</h2>
        <p>See a list of Brands</p>
        <p><a class="btn btn-default" href="~/Brands/Index">Brands &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Reviews</h2>
        <p>Check out our Reviews</p>
        <p><a class="btn btn-default" href="~/Reviews/Index">Reviews &raquo;</a></p>
    </div>
</div>